.arrow__icon{
  width: 20px;
  height: 20px;
  fill: $red;
  transition: linear .2s;
}

.social__icon{
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: linear 0.2s;
}

.ourContacts__icon{
  width: 30px;
  height: 30px;
  fill: $red;
  transition: linear 0.2s;
}

.aboutInfo__icon{
  width: 17px;
  height: 17px;
  fill: $red;
  transition: linear 0.2s;
  position: absolute;
  @include center;
}

.aboutServices__icon{
  width: 20px;
  height: 20px;
  fill: $red;
  transition: linear 0.2s;
  position: absolute;
  @include center;
}

.aboutServices__link-icon{
  width: 15px;
  height: 15px;
  fill: #fff;
  transition: linear 0.2s;
  margin-left: 10px;
  transform: translateY(3px);
}

.qualities__icon{
  position: absolute;
  width: 40px;
  height: 40px;
  fill: #fff;
  transition: linear 0.2s;
  @include center;
}

.zoom__icon{
  width: 85px;
  height: 85px;
  fill: #fff;
  transition: linear 0.2s;
}

.advantages__icon{
  width: 35px;
  height: 35px;
  fill: $red;
  transition: linear 0.2s;
}

.howWeWork__icon{
  width: 40px;
  height: 40px;
  fill: $red;
  transition: linear 0.2s;
}

.testimonials__icon{
  width: 40px;
  height: 40px;
  fill: $red;
  transition: linear 0.2s;
}











